{% extends "base.html.twig" %}

{% block  title   property ? property.title:"non trouve" %}
{% block body %}
    <div class="container">
        {% if  app.user and app.user.userName  == 'demo' %}
            <a href="{{ path( 'admin.property.edit' , {id:property.id} )}}" class="btn btn-primary mt-4">editer ce biens
            </a>
        {% endif %}

        <div class="text">
            {% for flash_message in app.session.flashBag.get('success') %}
                <div class="alert alert-success">
                    {{ flash_message }}
                </div>
            {% endfor %}


            {% if  form.vars.submitted and not form.vars.valid %}
                <div class="alert alert-danger">
                    Erreur de danger
                </div>
            {% endif %}


        </div>


    </div>

    <div class="jumbotron">
        {%  if property %}
            <div class="container">

                <div class="row">
                    <div class="col-md-8">

                        {% if property.pictures %}

                            {% for picture in property.pictures  %}

                                <img alt="" class="card-img-top" src="{{ vich_uploader_asset(picture ,'picFile') | imagine_filter('meduim') }}" style="width:100%;height:auto;">

                            {% endfor %}
                        {% else %}
                        
                            {% set imagePath =  '/images/properties/villaeco_2_chambrs__garage__066686800_1112_31102017.jpg' %}
                            <img alt="" class="card-img-top" src="{{ imagePath | imagine_filter('meduim') }}" style="width:100%;height:auto;">

                        {% endif %}
                        {# <img alt="" class="card-img-top" src="/images/properties/{{property.filename}}" style="width:100%;height:auto;"> #}


                    </div>
                    <div class="col-md-4">

                        <h1>{{ property.title }}</h1>
                        <h2>{{ property.rooms}}
                            pieces -
                            {{ property.surface }}
                            ㎡</h2>
                        <div class="text-danger" style="font-weight:bold;font-size:2rem; ">{{ property.formattedPrice  }}
                            €</div>


                        <a class="btn btn-primary" data-target="#contactForm" data-toggle="collapse" href="#">Contater l'agence</a>
                        <div class="mt-4  collapse show {% if form.vars.submitted and not form.vars.valid  %}  show {% endif %} " id="contactForm">
                            {{ form_start(form)}}
                            <div class="row">
                                <div class="col">{{ form_row(form.firstname)}}</div>
                                <div class="col">{{ form_row(form.lastname)}}</div>
                            </div>
                            <div class="row">
                                <div class="col">{{ form_row(form.email)}}</div>
                                <div class="col">{{ form_row(form.phone)}}</div>
                            </div>
                            <div class="row">
                                <div class="col">{{ form_rest(form)}}</div>
                            </div>
                            <div class="form-group">
                               {#  <button class="btn btn-primary">Envoyer</button> #}
                            </div>
                            {{ form_end(form)}}
                        </div>

                    </div>
                </div>


            </div>
        </div>


        <div class="container mt-4 ">


            <nav class="nav nav-tabs" id="tab"></nav>
            <p class=" mt-4 mb-4 ">
                {{ property.description | nl2br }}
            </p>
            <div class="row">
                <div class="col-md-8  ">
                    <h2>Caracteristiques</h2>
                    <table class="table table-striped">
                        <tr>
                            <td>Surface habitable</td>
                            <td>{{ property.surface}}</td>
                        </tr>

                        <tr>
                            <td>Pieces</td>
                            <td>{{ property.rooms}}</td>
                        </tr>

                        <tr>
                            <td>Chambres</td>
                            <td>{{ property.bedrooms}}</td>
                        </tr>
                        <tr>
                            <td>Etage</td>
                            <td>{{ property.floor}}</td>
                        </tr>
                        <tr>
                            <td>Chauffage</td>
                            <td>{{ property.heatType }}</td>

                        </tr>


                    </table>
                </div>

                <div class="col-md-4">
                    <h2>Specificites</h2>
                    <ul class="list-group">


                        {% for option in property.options %}
                            <li class="list-group-item">
                                {{ option.name }}
                            </li>

                        {% endfor %}

                    </ul>


                </div>
            </div>
        {% else %}
            <div class="container">
                objet non trouve
            </div>

        {%  endif  %}
    </div>


{% endblock  %}
