{{ form_start(form)}}  
<div class="row">
    <div class="col-md-4">{{form_row(form.title)}}</div>
    <div class="col-md-4">{{form_row(form.surface)}}</div>
    <div class="col-md-4">{{form_row(form.price)}}</div>
</div>
<div class="row">
    <div class="col-md-2">{{form_row(form.rooms)}}</div>
    <div class="col-md-2">{{form_row(form.bedrooms)}}</div>
    <div class="col-md-2">{{form_row(form.heat)}}</div>
    <div class="col-md-2">{{form_row(form.floor)}}</div>
</div>
<div class="row">
    <div class="col-md-4">{{form_row(form.address)}}</div>
    <div class="col-md-2">{{form_row(form.postal_code)}}</div>
    <div class="col-md-2">{{form_row(form.city)}}</div>

    <div class="col-md-2">{{form_row(form.sold)}}</div>
</div>
<div
    class="row">
    {#  <div class="col-md-6">
            {{form_row(form.imageFile)}}
    
        </div> #}


    <div class="col-md-6">{{form_row(form.options)}}</div>


</div>
<div class="row">
    <div
        class="col-md-6">{#         <img alt="" class="card-img-top" style="width:auto;height:300px;" src="{{ vich_uploader_asset(property,'imageFile') }}">
                         #}

    </div>


</div>


<div class="row">
    <div class="col-md-12">
        {{ form_row(form.description) }}

    </div>


</div>

{{ form_widget(form)}}


<button class="btn btn-primary">{{button | default('Enregistrer')}}</button>
<br>
{{ form_end(form) }}

<div class="row">

    <script>

        /*jslint unparam: true */
        /*global window, $ */
        $(function () {


            'use strict';
            var url = '/picture/new/?property_id={{ property.id }}';


            'use strict';
            // Change this to the location of your server-side upload handler:
            var uploadButton = $('<button/>').addClass('btn btn-primary').prop('disabled', true).text('Processing...').on('click', function () {
                var $this = $(this),
                    data = $this.data();
                $this.off('click').text('Abort').on('click', function () {
                    $this.remove();
                    data.abort();
                });
                data.submit().always(function () {
                    $this.remove();
                });
            });

            $('#fileupload').fileupload({
                url: url,
                dataType: 'json',
                autoUpload: false,
                acceptFileTypes: /(\.|\/)(gif|jpe?g|png)$/i,
                maxFileSize: 999000 , //   1048576  = 1 m 
                // Enable image resizing, except for Android and Opera,
                // which actually support image resizing, but fail to
                // send Blob objects via XHR requests:
                disableImageResize: /Android(?!.*Chrome)|Opera/.test(window.navigator.userAgent),
                previewMaxWidth: 100,
                previewMaxHeight: 100,
                previewCrop: true
            }).on('fileuploadadd', function (e, data) {
                data.context = $('<div/>').appendTo('#files');
                $.each(data.files, function (index, file) {
                    var node = $('<p/>').append($('<span/>').text(file.name));
                    if (! index) {
                        node.append('<br>').append(uploadButton.clone(true).data(data));
                    }
                    node.appendTo(data.context);
                });
            }).on('fileuploadprocessalways', function (e, data) {
                var index = data.index,
                    file = data.files[index],
                    node = $(data.context.children()[index]);
                if (file.preview) {
                    node.prepend('<br>').prepend(file.preview);
                }
                if (file.error) {
                    node.append('<br>').append($('<span class="text-danger"/>').text(file.error));
                }
                if (index + 1 === data.files.length) {
                    data.context.find('button').text('Upload').prop('disabled', !! data.files.error);
                }
            }).on('fileuploadprogressall', function (e, data) {
                var progress = parseInt(data.loaded / data.total * 100, 10);
                $('#progress .progress-bar').css('width', progress + '%');
            }).on('fileuploaddone', function (e, data) {

                console.log(data);
                $('#presentationFiles').html('');
                $('#files').html('');

                $("#rowPicFIle").html('');
                $.each(data.result.files, function (index, file) {

                    $("#rowPicFIle").append(' <div class="col-md-4"   ><img class="picFile" src ="' + file + '"  />  </div> ');
                });
            }).on('fileuploadfail', function (e, data) {


                $.each(data.files, function (index) {
                    var error = $('<span class="text-danger"/>').text('File upload failed.');
                    $(data.context.children()[index]).append('<br>').append(error);
                });
            }).prop('disabled', !$.support.fileInput).parent().addClass($.support.fileInput ? undefined : 'disabled');


        });
    </script>
    <div class="col-md-12">
        <label for="fileupload">Telecharger une autre image</label>
        <div class="custom-file">
            <form id="myform">
                <input class="custom-file-input" id="fileupload" name="picture[picFile]" type="file"/></form>
            <label class="custom-file-label" for="fileupload"></label>
        </div>


        <div class="progress mt-2" id="progress">
            <div class="progress-bar progress-bar-success"></div>
        </div>
        <div class="progress-extended">&nbsp;</div>
        <table class="table table-striped" role="presentation">
            <tbody class="files" id="presentationFiles"></tbody>
        </table>


    </div>


</div>
<style>
    .picFile {
        width: 20%;
        max-height: 20px;
        border: 1px solid red;
        margin-top: 20px;
    }
</style>
<div class="row">
    <div class="col-md-4">
        <div class="files" id="files"> </div>
    </div>

    <div class="col-md-8">
        <div class="row" id="rowPicFIle">
            {% for picture in property.pictures %}
                <div class="col-md-4">
                    <img class="picFile" src="{{ vich_uploader_asset(picture,'picFile') }}"/>

                </div>
            {% endfor  %}


        </div>
    </div>


</div>
<br><br><br><br><br>
