  
  
  
  
 {#  {% cache 'property' ~ property.id    900    %}    
    #} 
  {#
   {% cache 'property' ~ property.id    900秒    %} 
    
   services.yaml 
    #载入缓存所需
    Twig\CacheExtension\CacheProviderInterface:
        class: Twig\CacheExtension\CacheProvider\PsrCacheAdapter    

        
    Twig\CacheExtension\CacheStrategyInterface:
        class: Twig\CacheExtension\CacheStrategy\LifetimeCacheStrategy

    Twig\CacheExtension\Extension:  ## class 
        tags:
        - { name: twig.extension }

  
  #}
 {# property.updatedAt.timestamp 返回时间戳 #}

<div class="card mb-4">
    {% if property.picture %}
        {% set imagePath = vich_uploader_asset( property.picture ,'picFile')   %}
    {% else %}
        {% set imagePath =  '/images/properties/villaeco_2_chambrs__garage__066686800_1112_31102017.jpg' %}
    {% endif %}
    {# <img alt="" class="card-img-top" src="/images/properties/{{property.filename}}" style="width:100%;height:auto;"> #}
    <a href="{{path('property.show' , {slug:property.slug,id:property.id } )}}">
        <img alt="" class="card-img-top" src="{{ imagePath   | imagine_filter('thumb')  }}" style="width:100%;height:232px;">
     </a>
 
          

    <div class="card-body">

        <h4 class="card-title">
            <a href="{{path('property.show' , {slug:property.slug,id:property.id } )}}">  {{ property.title }}  {#  {{ property.updatedAt.timestamp | date("d/m/Y") }}  #} </a>
        </h4>
        {#   <p class="card-text">{{property.description|nl2br}}</p> #}
        <p class="card-text">{{property.surface}}
            m² -
            {{property.city}}({{property.postalCode}})</p>
        <div class="text-primary" style="font-size:2rem;font-weight:bold;">
            {{property.FormattedPrice}}
            €
        </div>
    </div>
</div>

  {#  {% endcache %}     #}